[Unit]
Description=Catalogue Service

[Service]
User=roboshop
WorkingDirectory=/app/catalogue
Environment=MONGO=true
Environment=MONGO_URL=mongodb://mongodb-dev.madhan66.store:27017/catalogue
ExecStart=/bin/node server.js
Restart=always
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target
